.modal {
  background-color: rgb(209, 209, 209);
  display: none;
  border-radius: 15px 15px 0 0;
  position: fixed !important;
  width: 25%;
  max-height: max-content;
  
}
@media screen and (max-width:768px) {
  .modal{
    width: 90%;
  }
}

.form-modal {
  background-color: rgb(65, 65, 65);
  border-radius: 10px;
  padding: 10% 5% 10% 5%;
  margin: 10%;
  max-height: max-content;
}
.input-form {
  width: 100%;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  height: 30px;
  border: 0;
  padding-left: 10px;
}
.div-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  font-weight: 400 bold;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: rgb(65, 65, 65);
  width: 100%;
  padding: 1%;
  max-height: max-content;
}
#type-modal {
  margin: 10px 0 10px 0;
  width: 100%;
  padding-left: 10px;
  height: 30px;
  border-radius: 10px;
}
.button-form {
  margin: 25px 0 0 0;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  border: 2px solid rgb(44, 152, 253);
  color: #555;
  font-size: 20px;
  text-transform: uppercase;

}
.button-form:hover {
  color: #fff;
  box-shadow:1px 2px 7px #31B2Df;
  cursor: pointer;
  background-color: rgb(75, 155, 230);
  transform: scale(1.05);
}
